.home {
  max-width: 1500px;
  position: relative;
}

.home-image-carousel {
  position: relative;
  z-index: 0;
}

.home-products, .home-product-row {
  width: 100%;
  margin: 0 auto; 
  box-sizing: border-box;
}

.home-products {
  position: absolute;
  left: 0;
  top: 250px;
  width: 100%;
  z-index: 10;
}

.home-product-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 16px;
}

@media only screen and (max-width: 992px) {
  .home-product-row {
    grid-template-columns: repeat(2, 1fr);
    gap: 4px;
    padding: 0 8px;
  }
}

@media only screen and (max-width: 576px) {
  .home-product-row {
    grid-template-columns: 1fr;
    padding: 0 4px;
  }
}