.navbar {
  align-items: center;
  background-color: #222e3d;
  display:flex;
  justify-content: flex-start;
  padding-left: 16px;
  padding-right: 16px;
}

.navbar .navbar-menu-icon {
  font-size: 1.5rem;
}

.navbar-menu {
  align-items: center;
  display: flex;
}

.navbar-menu-text {
  padding-left: 5px;
}

.navbar-menu, .navbar-navigation-link {
  border: 1px solid #222e3d;
  color: white;
  cursor: pointer;
  font-size: 0.87rem;
  font-weight: 500;
  padding: 8px 9px;
}

.navbar-menu:hover, .navbar-navigation-link:hover {
  border: 1px solid white;
}