* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eaeded;
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
input {
  font-family: inherit;
}